/* :root{
    -fx-bgLeft: #cec0c0bd;
    -fx-bgCenter: #CDBFBF;
} */


*{
    -fx-bgLeft: #cec0c0bd;
    -fx-bgCenter: #CDBFBF;
    -fx-font-size: 16px;
}

.btn{
    -fx-cursor: hand;
}

/* ======= NAV ======== */
#leftPane{
    -fx-background-color: -fx-bgLeft;
}

#coffe{
    -fx-padding: 10 10 10 10;
    -fx-font-size: 25;
    -fx-text-fill: #6D4646;
}

#btnNavPane{
    -fx-pref-height: 480;
    -fx-alignment: center;
}

.navBtn{
    -fx-background-color: #6D4646;
    -fx-text-fill: white;
    -fx-pref-width: 220;
    -fx-pref-height: 80;
}



/* ======= CONTENT ======== */

#centerPane{
    -fx-background-color: #CDBFBF;
    -fx-alignment: top-center;
    -fx-padding: 10 10 10 10;
}



.titleBtn{
    -fx-background-color: #31111D;
    -fx-text-fill: white;
    -fx-pref-width: 220;
    -fx-pref-height: 80;
    -fx-font-size: 20px;

}


.roundedBtn{
    -fx-text-fill: white;
    -fx-background-radius: 20px;
}





.delBtn{
    -fx-background-color: linear-gradient(to bottom  , #9d1c1ccf, #4b0909cf);

}

.jsonBtn{
    -fx-background-color: linear-gradient(to bottom  , #a46868, #341f21);
}

.vcfBtn{
    -fx-background-color: linear-gradient(to bottom  , #a46868, #341f21);
    
}

.check-box:selected .box {

    -fx-background-color: white;
}

.check-box .box {

    -fx-background-color: white;
}

.check-box:selected .mark {

    -fx-background-color: #6D4646;
    
}

.mainGridTextElement{
    -fx-text-fill: #6D4646;
}

.mainGridTextName{
    -fx-font-weight: bold;
}
