/* :root{
    -fx-bgLeft: #cec0c0bd;
    -fx-bgCenter: #CDBFBF;
} */


*{
    -fx-bgLeft: #cec0c0bd;
    -fx-bgCenter: #CDBFBF;
    -fx-font-size: 16px;
}

.btn{
    -fx-cursor: hand;
}

.btn:disabled{
    -fx-cursor: null;
    -fx-background-color: #6b6b6b;
    -fx-text-fill: rgb(32, 32, 32);
}

/* ======= NAV ======== */
#leftPane{
    -fx-background-color: -fx-bgLeft;
}

#coffe{
    -fx-padding: 10 10 10 10;
    -fx-font-size: 25;
    -fx-text-fill: #6D4646;
}

#btnNavPane{
    -fx-pref-height: 480;
    -fx-alignment: center;
}

.navBtn{
    -fx-background-color: #6D4646;
    -fx-text-fill: white;
    -fx-pref-width: 220;
    -fx-pref-height: 80;
}



/* ======= CONTENT ======== */

#centerPane{
    -fx-background-color: #CDBFBF;
    -fx-alignment: top-center;
    -fx-padding: 10 10 10 10;
}

.saveButton{
    -fx-background-color: #31111D;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-text-fill: white;
    
}
.deleteEditButton{
    -fx-background-color: #6D4646;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-text-fill: white;
}

.exportButton{
    -fx-background-color: linear-gradient(to right  , #6D4646, #49292D);;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-text-fill: white;
}

.titleBtn{
    -fx-background-color: #31111D;
    -fx-text-fill: white;
    -fx-pref-width: 220;
    -fx-pref-height: 80;
    -fx-font-size: 20px;

}

.genderButton{
    -fx-background-color: #6D4646;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
}

.roundedBtn{
    -fx-text-fill: white;
    -fx-background-radius: 20px;
}


.textField{
    -fx-background-color: #6D4646;
    -fx-background-radius: 50px;
    /* -fx-border-radius: 50px; */
    -fx-border-width: 5px;
    -fx-text-fill: white;
}



.delBtn{
    -fx-background-color: linear-gradient(to bottom  , #9d1c1ccf, #4b0909cf);

}

.jsonBtn{
    -fx-background-color: linear-gradient(to bottom  , #a46868, #341f21);
}

.vcfBtn{
    -fx-background-color: linear-gradient(to bottom  , #a46868, #341f21);
    
}

.check-box:selected .box {

    -fx-background-color: white;
}

.check-box .box {

    -fx-background-color: white;
}

.check-box:selected .mark {

    -fx-background-color: #6D4646;
    
}

.mainGridCheckbox{
    -fx-padding: 0 5 0 2;
}

.mainGridTextElement{
    -fx-text-fill: #6D4646;
}

.mainGridTextName{
    -fx-font-weight: bold;
}

.search .scroll-pane {
    -fx-background-color: transparent;
}
.search .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.search .scroll-pane .content{
    -fx-background-color: transparent;
}

.labelRequired{
    -fx-text-fill:#c43434;
}
